.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    
}

/* .first {
    background-color: aqua;
}

.second {
    background-color: brown;
}

.third {
    background-color: blue;
}

.forth {
    background-color: cadetblue;
} */